@model IEnumerable<Assessment_RaceTrack.Models.Vehicle>

@{ ViewBag.Title = "Race Track";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int rowCount = 0;
    int totalAllowedVehicle = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["TotalAllowedVehicleOnTrack"]);
    bool activeAdd = Model.Count() < totalAllowedVehicle; }

<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            url: '/Track/GetVehicle',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html'
        })
            .success(function (result) {
                $('#dvUserdetails').html(result);
            })
            .error(function (xhr, status) {
                alert(status);
            })
    });
</script>

wfdfsdfsfsdf

<div id="dvUserdetails" style="width: 50%%; height: 130px; display:none">
   
</div>
